<!--new.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

    <h1>New Catch-up</h1>

        <form action="/new" method="POST">
            <li>Name: <input type="text" name="name"></li>
            <li>Start day: <input type="text" name="start_day"></li>
            <li>End day: <input type="text" name="end_day"></li>
            <input type="submit">
        </form>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
